html :where(.wp-block) {
	max-width: 732px;
}
.editor-styles-wrapper {
	font-family: 'Roboto', sans-serif;
	color: #808083 !important;
	font-size: 15px !important;
	margin-bottom: 20px !important;
	line-height: 1.6 !important;
}
.editor-styles-wrapper p {
	line-height: 1.6 !important;
}
.edit-post-visual-editor__post-title-wrapper .editor-post-title {
	color: #32343b;
	text-align: center;
	font-size: 22px;
}
.editor-styles-wrapper .block-editor-rich-text__editable.has-large-font-size {
	font-size: 29px !important;
	padding: 25px 35px;
}
.wp-block-cover p:not(.has-text-color),.wp-block-cover__inner-container a {
	color: #ffffff !important;
	text-decoration: none;
}
.block-editor-block-list__layout .block-editor-block-list__block {
	margin-bottom: 20px;
}