body.rtl {
	text-align: right;
	direction: rtl;
}
.rtl .wpqa_checkbox input[type="checkbox"]:checked::before {
	-webkit-box-shadow: 2px 0 0 #272930, 4px 0 0 #272930, 4px -2px 0 #272930, 4px -4px 0 #272930, 4px -6px 0 #272930, 4px -8px 0 #272930;
	box-shadow: 2px 0 0 #272930, 4px 0 0 #272930, 4px -2px 0 #272930, 4px -4px 0 #272930, 4px -6px 0 #272930, 4px -8px 0 #272930;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	right: initial;
	left: 3px;
}
.rtl pre {
	text-align: left;
    direction: ltr;
}
.justify-content-right {
	justify-content: left;
}